@import url("bootstrap.min.css");

html,
body {
    height: 100%;
}

#form h1, #form h2, #form h3, 
#form h4, #form h5, #form h6 {
    margin-left: 15px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;

    background-color: #f6f6f6;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/*-- Main navigation tweaks --*/

.navbar-default {
    background-color: #2c2c2c;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #999;
}

.navbar-default .navbar-nav > li > a:hover
{
    background-color: #363636;
    color: #E7E7E7;
}

/*-- Breadcrumb tweaks --*/

.breadcrumb {
    background-color: #e7e7e7;
}

/*-- Striped table tweaks --*/

/* change background color of odd table rows */
.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f1f1f1;
    border-bottom: 1px solid #fbfbfb;
}

.table-bordered > thead > tr > th {
    background-color: #e7e7e7;
}

/*-- Jumbotron tweaks --*/

.jumbotron {
    text-align: center;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/*-- Sorting --*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*-- Other --*/

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* add red asterisk to required form fields */
div.required label:after {
    content: " *";
    color: #e13431;
}

/*-- User list display tweaks --*/

.user-index td:last-child {
    width: 68px;
}

/*-- Css for nicer display of boolean yes/no values --*/

.boolean-true {
    font-weight: bold;
    color: green;
}

.boolean-false {
    font-weight: bold;
    color: #e13431;
}

/*-- Css for nicer display of user roles --*/

.role-theCreator {
    font-weight: bold;
    color: black;
}

.role-admin {
    font-weight: bold;
    color: #c4a500;
}

.role-support {
    font-weight: bold;
    color: #009d00;
}

.role-member {
    font-weight: bold;
    color: #4c4cff;
}

.role-premium {
    font-weight: bold;
    color: #800080;
}

/*-- Password strength --*/

/* hide strength meter so we can fade it in nicely with jQuery */
.nz-meter-container {
    display: none;
}
