@import url("bootstrap.min.css");

html,
body {
    height: 100%;
}

#form h1, h2, h3, h4, h5, h6 {
    margin-left: 15px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
}

.footer {
    height: 60px;
    background-color: #272b30;
    border-top: 1px solid #15171a;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/*-- Sorting --*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*-- Other --*/

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* add red asterisk to required form fields */
div.required label:after {
    content: " *";
    color: #e13431;
}

/*-- User index display tweaks --*/

.user-index td:last-child {
    width: 68px;
}

/*-- Css for nicer display of boolean yes/no values --*/

.boolean-true {
    font-weight: bold;
    color: #00b100;
}

.boolean-false {
    font-weight: bold;
    color: #cd211e;
}

/*-- Css for nicer display of user roles --*/

.role-theCreator {
    font-weight: bold;
    color: #e7eaeb;
}

.role-admin {
    font-weight: bold;
    color: #c4a500;
}

.role-support {
    font-weight: bold;
    color: #009d00;
}

.role-member {
    font-weight: bold;
    color: #7373ff;
}

.role-premium {
    font-weight: bold;
    color: #b600b6;
}

/*-- Password strength --*/

/* hide strength meter so we can fade it in nicely with jQuery */
.nz-meter-container {
    display: none;
}

#form-signup table,
#form-user table {
    background-color: transparent;
}
