html,
body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
    border: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.footer {
    height: 60px;
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.grid-view td:last-child {
    width: 68px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* add red asterisk to required form fields */
div.required label:after {
    content: " *";
    color: #e13431;
}

/*-- Css for nicer display of boolean yes/no values --*/

.boolean-true {
    font-weight: bold;
    color: green;
}

.boolean-false {
    font-weight: bold;
    color: #e13431;
}

/*-- Css for nicer display of user roles --*/

.role-theCreator {
    font-weight: bold;
    color: black;
}

.role-admin {
    font-weight: bold;
    color: #c4a500;
}

.role-employee {
    font-weight: bold;
    color: #800080;    
}

.role-premium {
    font-weight: bold;
    color: #009d00;
}

.role-member {
    font-weight: bold;  
    color: #4c4cff;      
}

/*-- Password strength --*/

/* Ajust the size so it fits nicely */
.kv-meter-container {
    width: 105px;
}